@page "/"
@using Entregable3.Components
<PageTitle>Welcome</PageTitle>

<WelcomeComponent name=@name/>


<h2>Te ofrecemos los mejores productos al día
Delivery Gratis </h2>



@code{
    private string name ="Tienda la Campana";
}